<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/js/webix/webix.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/task.css">
        <link rel="stylesheet" type="text/css" href="../public/css/all.css">
        <script type="text/javascript" src="../public/js/webix/webix.min.js"></script>
        <script src="../public/js/webix/all.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <script type="module" src="../public/js/authorization.js"></script>
    </body>
</html>